extends layout

block content
 h1 #{t} 
 form(method='POST' , action='/articles/edit/'+article._id)
  #form-group
   label Title:
   input.form-control(name="Title" , type="text" , value=article.title)
  #form-group
   label Author:
   input.form-control(name="Author" , type="text" , value=article.author)
  #form-group
   label Body:
   textarea.form-control(name="Body") #{article.body}
  input.btn.btn-primary(type="submit",value="Submit")    