extends layout

block content
 h1 Register
 form(method='POST' , action='/users/register')
  #form-group
   label Name:
   input.form-control(name="Name" , type="text")
  #form-group
   label E-Mail:
   input.form-control(name="Email" , type="text")
  #form-group
   label Username:
   input.form-control(name="Username" , type="text")
  #form-group
   label Password:
   input.form-control(name="Password" , type="password")
  #form-group
   label Confirm Password:
   input.form-control(name="Password2" , type="password")  
  input.btn.btn-primary(type="submit",value="Submit")    